<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StockExchangePlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <servlet>
    <description></description>
    <display-name>getStocks</display-name>
    <servlet-name>getStocks</servlet-name>
    <servlet-class>at.jku.ce.brokerplatform.getStocks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStocks</servlet-name>
    <url-pattern>/getStocks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyStock</display-name>
    <servlet-name>BuyStock</servlet-name>
    <servlet-class>at.jku.ce.brokerplatform.BuyStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyStock</servlet-name>
    <url-pattern>/BuyStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>at.jku.ce.brokerplatform.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradeStock</display-name>
    <servlet-name>TradeStock</servlet-name>
    <servlet-class>at.jku.ce.brokerplatform.TradeStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeStock</servlet-name>
    <url-pattern>/TradeStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteTransaction</display-name>
    <servlet-name>ExecuteTransaction</servlet-name>
    <servlet-class>at.jku.ce.brokerplatform.ExecuteTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteTransaction</servlet-name>
    <url-pattern>/ExecuteTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>at.jku.ce.brokerplatform.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteBuyStock</display-name>
    <servlet-name>ExecuteBuyStock</servlet-name>
    <servlet-class>at.jku.ce.brokerplatform.ExecuteBuyStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteBuyStock</servlet-name>
    <url-pattern>/ExecuteBuyStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellStock</display-name>
    <servlet-name>SellStock</servlet-name>
    <servlet-class>at.jku.ce.brokerplatform.SellStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellStock</servlet-name>
    <url-pattern>/SellStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteSellStock</display-name>
    <servlet-name>ExecuteSellStock</servlet-name>
    <servlet-class>at.jku.ce.brokerplatform.ExecuteSellStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteSellStock</servlet-name>
    <url-pattern>/ExecuteSellStock</url-pattern>
  </servlet-mapping>
</web-app>